<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || 'ToukoGeneraattori' %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center center">
            <%= render 'layouts/header' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center center">
          <%= yield %>
        </div>     
      </div>

      <div class="row">
        <div class="col-md-12 text-center center">
          <%= render 'layouts/top5' %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>

  <!-- Piwik -->
  <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
          var u="//piwik.jannewaren.fi/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', 2]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
  </script>
  <noscript><p><img src="//piwik.jannewaren.fi/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->


</body>
</html>
